<section class="hero">
    <div class="hero__image">
        <img src="images/janina-mark.jpg" alt="" />
    </div>
    <p>
        COME CELEBRATE OUR WEDDING
    </p>
    <div class="hero__content">
        <h1 class="hero__content__headline">
            JANINA VELASCO
        </h1>
        <span>
            —&nbsp;
            <em>and</em>
            —&nbsp;
        </span>
        <h1 class="hero__content__headline">
            MARK PHILLIPS
        </h1>
    </div>
    <p>
        SATURDAY, APRIL 22ND, 2017
    </p>
</section>
