<div class="site-header">
    <a href="#nav" class="mobile-nav-trigger js-mobile-nav link">
        MENU
    </a>
    <nav role="navigation" class="nav">
        <ul class="container nav-list">
            <li class="nav-list__item">
                <a class="link link--header" href="/">HOME</a>
            </li>

            <li class="nav-list__item">
                <a class="link link--header" href="/our-wedding">OUR WEDDING</a>
            </li>

            <li class="nav-list__item">
                <a class="link link--header" href="/photographs">PHOTOGRAPHS</a>
            </li>

            <li class="nav-list__item">
                <a class="link link--header" href="/details">DETAILS</a>
            </li>

            <!-- <li class="nav-list__item">
                <a class="link link--header" href="#">REGISTRY</a>
            </li> -->

            <li class="nav-list__item">
                <a class="link link--header" href="/rsvp">RSVP</a>
            </li>
        </ul>
    </nav>
</div>
