<div class="site-header">
    <ul class="container list list--bare list--inline">
        <li>
            <a class="link link--header" href="/">HOME</a>
        </li>

        <li>
            <a class="link link--header" href="/our-wedding">OUR WEDDING</a>
        </li>

        <li>
            <a class="link link--header" href="/photographs">PHOTOGRAPHS</a>
        </li>

        <li>
            <a class="link link--header" href="/details">DETAILS</a>
        </li>

        <li>
            <a class="link link--header" href="#">REGISTRY</a>
        </li>

        <li>
            <a class="link link--header" href="#">RSVP</a>
        </li>
    </ul>
</div>
