<!DOCTYPE html>
<html>
    <head>
      <% include ../partials/header.ejs %>
    </head>

    <body>
         <div class="app">
            <% include ../partials/nav.ejs %>

             <div class="container">
                <% include ../partials/our-wedding.ejs %>
             </div>
         </div>
    </body>
</html>
