<% include ../partials/header.ejs %>

<div class="app">
    <% include ../partials/nav.ejs %>

    <div class="container">
        <img class="image" src="http://placehold.it/350x150">
    </div>
</div>
