$primary-color: #e5ffe5;
$secondary-color: #756B6B;

$secondary-color--light: lighten($secondary-color, 30%);
$secondary-color--very-light: lighten($secondary-color, 40%);

$coral: #E28FA5;
$white: #FFF;
$black: #333;
