.list--bare {
    padding: 0;

    li {
        list-style-type: none;
    }
}

.list--inline {
    li {
        display: inline-block;
        margin-right: 1.5em;

        &:last-child {
            margin-right: 0;
        }
    }
}
