.hero {
    font-family: 'Quicksand', sans-serif;
    margin-top: 42.1875px; //height of the .site-header
    text-align: center;
}

.hero__content {
    border-top: 2px solid $gray;
    border-bottom: 2px solid $gray;
    margin: 2em auto;
    width: 30em;
}

.hero__content__headline {
    color: $black;
    font-size: 1.5em;
    font-weight: 300;
}

.hero__content__date {
    color: $black;
    font-size: 1.5em;
    margin: 0;
}

.hero__image {
    width: 64em;
    margin: 2em auto;
    padding: 0 1em;
    max-width: 100%;
}
